body {
    background-color: lightblue;
}

#content {
    margin-left: 20px;
    padding-bottom: 40px;
}

#minutes, #seconds {
    width: 50px;
}

.id, .year {
    width: 70px;
}

.nav {
    display: inline-block;
    margin-right: 20px;
    margin-top: 5px;
}

#navbar {
    background-color: black;
    height: 40px;
}

.dataRow {
    margin-bottom: -35px;
}