<header>
    <div id="navbar">
      <label class="nav"><a href="../">Home</a></label>
      <label class="nav"><a href="/albums">Albums</a></label>
      <label class="nav"><a href="/artists">Artists</a></label>
      <label class="nav"><a href="/tracks">Tracks</a></label>
        
    </div>
  </header>