<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/template/head.ejs %>
        <title>Artists</title>
    </head>
    <body>
        <% include partials/template/header.ejs %>
        <% include partials/template/artists.ejs %>
            
    </body>
</html>