<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/template/head.ejs %>
        <title>Albums</title>
    </head>
    <body>
            <% include partials/template/header.ejs %>
            <% include partials/template/tracks.ejs %>
    </body>
</html>